
@{
    ViewBag.Title = "Index";
}



<div class="modal fade" id="modal-animation-3" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated zoomInUp">
            <div class="modal-header">
                <h5 class="modal-title">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="Reload()" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-animation-2" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated zoomInUp">
            <div class="modal-header">
                <h5 class="modal-title">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header text-uppercase">Selected Damage Product</div>
            <div class="card-body" style="border-radius:2px;">
                <div class="table-responsive" style="height:200px">
                    <table id="tbldam" class="table table-striped table-bordered notranslate">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Uniq Number</th>
                                <th>Procurement Date</th>
                                <th>Avalable Quantity</th>
                                <th>Damage Quantity</th>
                                <th>Comments</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody id="tblbodydam"></tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <div class="col-md-12  col-sm-12">
                            <select id="ddlproduct" class="form-control">
                                <option>select Product for Damage</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <div class="col-md-12  col-sm-12">
                            <div class="search-bar">
                                <input type="text" id="uninumber" placeholder="Please Enter Product Unique Number Or Date" class="form-control" />
                                <p class="notfound"></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="height:150px">
                    <table id="tbl" class="table table-striped table-bordered notranslate">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Procurement Date</th>
                                <th>Uniq Number</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody id="tblbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="form-footer pull-right">
    <button type="button" onclick="Reload()" class="btn btn-danger"><i class="fa fa-times"></i> CANCEL</button>
    <button type="button" id="btnsave" class="btn btn-success"><i class="fa fa-check-square-o"></i> SAVE</button>
</div>




@section Scripts{
    <script>
        $(document).ready(function () {

            ProductLoad();


        })


        function ItemSearch() {
            // Search all columns
            $('#uninumber').keyup(function () {
                // Search Text
                var unnumber = $(this).val();
                var date = $(this).val();

                // Hide all table tbody rows
                $('#tbl tbody tr').hide();

                // Count total search result
                var lenuniqnum = $('#tbl tbody tr:not(.notfound) td:nth-child(5):contains("' + unnumber + '")').length;
                //var lendate = $('#tab tbody tr:not(.notfound) td:nth-child(5):contains("' + date + '")').length;

                if (lenuniqnum > 0) {
                    // Searching text in columns and show match row
                    $('#tbl tbody tr:not(.notfound) td:contains("' + unnumber + '")').each(function () {
                        $(this).closest('tr').show();
                    });
                } else {
                    $('#tbl tbody tr:not(.notfound) td:contains("' + date + '")').each(function () {
                        $(this).closest('tr').show();
                    });
                }

            });
        }








        function ProductLoad() {
            $.ajax({

                url: "/DamagedProduct/ProductGet",
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    for (var i = 0; i < data.length; i++) {

                        $("#ddlproduct").append("<option value=" + data[i].ProductId + ">" + data[i].ProductName + "</option>")
                    }
                },
                error: function (errormessage) {
                    //alert(errormessage.responseText);
                }

            });

        }


        $("#ddlproduct").change(function () {
            var id = $(this).val();
            $.ajax({

                url: "/DamagedProduct/Productload?id=" + id,
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //console.log(data);

                    $("#tbl").css("visibility", "visible");

                    $("#tblbody").empty();
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];

                        //var result = "";
                        //var date = data[i].DateOfPurchase;
                        //if (date != null) {
                        //    var nowDate = new Date(parseInt(date.substr(6)));

                        //    result += nowDate.format("dd/mm/yyyy");
                        //}

                        //else {
                        //    var result = "";

                        //}

                        //console.log(result);

                        var datecreate;
                        if (item.CreateDate != null) {
                            var da = new Date(parseInt(item.CreateDate.replace("/Date(", "").replace(")/", ""), 10));


                            var date = JSON.stringify(da)
                            datecreate = date.slice(1, 11)

                        }
                        else {

                            datecreate = null
                        }




                        var row = "<tr><td hidden>" + item.Inv_Details_ID + "</td><td>" + item.ProductName +
                            "</td><td>" + item.PO_GRAND_TOTAL + "</td><td>"
                            + datecreate + "</td><td>" + item.Item_Unique_Number + "</td><td>"
                            + "<button onclick='selectdamageproduct(" + item.Inv_Details_ID + ")'>Select</button></td></tr>";

                        $("#tblbody").append(row);


                    }
                    ItemSearch();
                },
                error: function (errormessage) {
                    //alert(errormessage.responseText);
                }

            });
        })

        var Damproarry = [];

        function selectdamageproduct(id) {
            $.ajax({

                url: "/DamagedProduct/Getdamageproduct?id=" + id,
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);


                    var invdetailsid;
                    var productid;
                    var productname;
                    var price;
                    var uniqnumber;
                    var storeid;
                    var storename;
                    var avalableqty;
                    var createdate;
                    $.each(data, function (i, v) {
                        invdetailsid = v.Inv_Details_ID,
                            productid = v.ProductId,
                            productname = v.ProductName,
                            price = v.PO_GRAND_TOTAL,
                            uniqnumber = v.Item_Unique_Number,
                            storeid = v.StoreId,
                            storename = v.StoreName,
                            createdate = v.CreateDate,
                            avalableqty = v.AvailableQty
                    })

                    // update qty if product is already present
                    for (var i in Damproarry) {
                        if (Damproarry[i].InvdetalsId == invdetailsid) {
                            showdamprd();
                            return;
                        }

                    }
                    // create JavaScript Object
                    var item = {
                        InvdetalsId: invdetailsid, ProductId: productid, ProductName: productname, Price: price, UniqNumber: uniqnumber,
                        StoreId: storeid, StoreName: storename, CreateDate: createdate, AvalableQty: avalableqty
                    };
                    Damproarry.push(item);

                    showdamprd();


                }
            })
        }


        function showdamprd() {


            //$("#tbldam").css("visibility", "visible");

            $("#tblbodydam").empty();
            for (var i = 0; i < Damproarry.length; i++) {

                var item = Damproarry[i];



                var datecreate;
                if (item.CreateDate != null) {
                    var da = new Date(parseInt(item.CreateDate.replace("/Date(", "").replace(")/", ""), 10));


                    var date = JSON.stringify(da)
                    datecreate = date.slice(1, 11)

                }
                else {

                    datecreate = null
                }




                var row = "<tr><td><input type='text' hidden id='invdetailid' value='" + item.InvdetalsId + "' /><input type='text' hidden id='prdstoid' value='" + item.StoreId + "' /><input type='text' hidden id='prdid' value='" + item.ProductId + "' /><input type='text' readonly value='" + item.ProductName + "' />" +
                    "</td><td><input type='text' id='price' readonly value='" + item.Price + "' />" +
                    "</td><td><input type='text' id='uniqnumber' readonly value='" + item.UniqNumber + "' />" +
                    "</td><td><input type='text' id='productiondate' readonly value='" + datecreate + "' />" +
                    "</td><td><input readonly type='text' id='avalableqty' readonly value='" + item.AvalableQty + "' />" +
                    "</td><td><input type='text' id='prdqty'/>" + "</td><td><input type='text' id='damtype' />" +
                    "</td><td><input type='button' value='Remove' onclick='deleteItem()' />" + "</td></tr>";

                $("#tblbodydam").append(row);


            }

        }

        function deleteItem(index) {
            Damproarry.splice(index, 1); // delete item at index
            showdamprd();

        }


        var mainarr = [];
        console.log(mainarr);
        //Add Data Purchase
        function Add(data) {
            //alert("Ok")
            $.ajax({

                url: "/DamagedItem/SaveDamage",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: data,
                success: function (data) {
                    $("#modal-animation-3").modal("toggle");
                    $(".modal-body").html("Damage Item Process Successfully Save");

                },
                error: function (errormessage) {
                    //alert(errormessage.responseText);
                }

            });
        }




        $("#btnsave").click(function () {
           

            var rowCount = $('#tblbodydam tr').length;

            if (rowCount > 0) {


                if (validationform()) {

                    var mainTable = $('#tbldam');
                    var tr = mainTable.find('#tblbodydam tr');

                    tr.each(function () {


                        var invdetailid = $(this).find('#invdetailid').val();
                        var productqty = $(this).find('#prdqty').val();
                        var AvalableQty = $(this).find('#avalableqty').val();
                        var damtype = $(this).find('#damtype').val();
                        var productid = $(this).find('#prdid').val();
                        var price = $(this).find('#price').val();
                        var uniqnumber = $(this).find('#uniqnumber').val();
                        var purchasedate = $(this).find('#productiondate').val();
                        var storeid = $(this).find('#storeid').val();


                        var item = {
                            ProductId: productid, ProductQty: productqty, Price: price, Uniqnumber: uniqnumber, Purchasedate: purchasedate, StoreId: storeid, DamageType: damtype, AvalableQty: AvalableQty,
                            InvDetailId: invdetailid
                        }
                        mainarr.push(item);



                    });




                    var Damagearray = [];
                    Damagearray.length = 0;
                    $.each(mainarr, function (i, v) {
                        Damagearray.push({
                            ProductId: v.ProductId,
                            DamagedItemType: v.DamageType,
                            DamageQuantity: v.ProductQty,
                            StoreId: v.StoreId,
                            PO_Price: v.Price,
                            Item_Unique_Number: v.Uniqnumber,
                            DateOfPurchase: v.Purchasedate,
                            AvailableQty: v.AvalableQty,
                            Inv_Details_ID: v.InvDetailId

                        })
                    })

                    var data = JSON.stringify({

                        damagedItemVM: Damagearray
                    });


                    $.when(Add(data)).then(function (response) {
                        console.log(response);
                    }).fail(function (err) {
                        consol.log(err);
                    })

                }


            }
            else {
                $("#modal-animation-2").modal("toggle");
                $(".modal-body").html("Damage product Not Selected");


            }


        })

        function validationform() {
            var validate = true;

            var mainTable = $('#tbldam');
            var tr = mainTable.find('#tblbodydam tr');

            tr.each(function () {

                var productqty = $(this).find('#prdqty').val();
                var avalableQty = $(this).find('#avalableqty').val();
                var damtype = $(this).find('#damtype').val();


                if (productqty == "") {
                    validate = false;
                }
                else if (productqty <= 0) {
                    validate = false;
                }
                else if (avalableQty < productqty) {

                    validate = false;
                }
                else if (damtype == "") {

                    validate = false;
                }
            })

            if (validate == true) {
                return true;
            } else {
                $("#modal-animation-2").modal("toggle");
                $(".modal-body").html("Please Check Your Input");
                return false;

            }
        }


        function Reload() {
            location.reload(true);
        }



    </script>



}

